﻿@using DemoAppBlazor.Client.Models

<EditForm Model="@FormModel" OnValidSubmit="@InvokeParentMethod">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="mb-3">
        <label for="uidinput" class="form-label">Enter unit id:</label>
        <input id="uidinput" class="form-control" placeholder="Unit id" @bind="FormModel.UnitId" style="max-width: 300px"/>
    </div>
    <div class="mb-3">
        <label for="datefrom" class="form-label">From date:</label><br />    
        <InputDate id="datefrom" @bind-Value="FormModel.DateFrom" />
    </div>
    <div class="mb-3">
        <label for="dateto" class="form-label">To date:</label>
        <InputCheckbox @bind-Value="IsDisabled"/><br />    
        <InputDate id="dateto" @bind-Value="FormModel.DateTo" disabled="@(!IsDisabled)"/>
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
</EditForm>

@code {
    public bool IsDisabled { get; set; } = false;

    [Parameter]
    public CalcFormModel FormModel { get; set; }
    [Parameter]
    public EventCallback<Task> ParentMethod { get; set; }

    private void InvokeParentMethod()
    {
        ParentMethod.InvokeAsync();
    }
}
