﻿@page "/calcbyproduct"
@using DemoAppBlazor.Client.Models
@using DemoAppBlazor.Shared.Models
@inject HttpClient HttpClient

<h3>Transactions calculation by products</h3><br />

<CalcForm FormModel="formModel" ParentMethod="(async () => await GetCalcs(formModel.UnitId, formModel.DateFrom, formModel.DateTo))" />
<br />

@if (calcs is null)
{
    <br />
    <p>Nothing loaded.</p>
}
else
{
    <br />
    <table class="table">
        <thead class="">
            <tr>
                <th scope="col">Product Id</th>
                <th scope="col">Product Name</th>
                <th scope="col">Quantity</th>
                <th scope="col">Amount</th>
                <th scope="col">Is Service?</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var calc in calcs)
            {
                <tr>
                    <td>@calc.ProductId</td>
                    <td>@calc.ProductName</td>
                    <td>@calc.Quantity</td>
                    <td>@calc.Amount kn</td>
                    <td>@calc.IsService</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IList<CalcByProductModel>? calcs;
    private CalcFormModel formModel = new();
    private string? date1;
    private string? date2;

    private async Task GetCalcs(string uid, DateTime dateFrom, DateTime? dateTo = null)
    {
        date1 = dateFrom.ToString("d.M.yyyy");
        if (dateTo.HasValue && (dateTo.Value.CompareTo(dateFrom) > 0))
        {
            date2 = dateTo.Value.ToString("d.M.yyyy");
        }
        else
        {
            date2 = "";
        }
        calcs = await HttpClient.GetFromJsonAsync<IList<CalcByProductModel>>($"api/calcbyproduct/byproduct?unitid={uid}&dateFrom={date1}&dateTo={date2}");
        StateHasChanged();
    }
}