﻿@page "/products"
@using DemoAppBlazor.Shared.Models
@inject HttpClient HttpClient

<PageTitle>Products</PageTitle>

<h3>Products</h3><br />

<form @onsubmit="(async () => await GetProducts(inputValue))">
    <div class="mb-3">
        <label for="nameinput" class="form-label">Enter product name</label>
        <input id="nameinput" class="form-control" placeholder="Product name" @bind="inputValue" style="max-width: 300px"/>
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
</form>
<br />

@if (products is null)
{
    <br />
    <p>No products loaded.</p>
}
else
{
    <br />
    <table class="table">
        <thead class="">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in products)
            {
                <tr>
                    <td>@product.Id</td>
                    <td>@product.Name</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IList<ProductModel>? products;
    private string? inputValue;

    private async Task GetProducts(string name)
    {
        products = await HttpClient.GetFromJsonAsync<IList<ProductModel>>($"api/products/name?name={name}");
        StateHasChanged();
    }
}
